# APP
*.db

# LOCKFILES (remove for apps)
package-lock.json
bun.lock

# BUILD OUTPUTS
dist/
build/
.next/
out/
coverage/
.nyc_output/
.cache/
.parcel-cache/
.netlify/
.vercel/
.types/

# OS / SYSTEM
.DS_Store
*.swp
*.swo
*~
*.tmp

# EDITORS
.vscode/*
!.vscode/extensions.json
.idea
.claude
.eslintcache

# DEPENDENCIES
node_modules/
jspm_packages/
.pnp
.pnp.js

# LOGS
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ENV
.env

# RUNTIME
pids
*.pid
*.seed
*.pid.lock

# MISC
.npm
.node_repl_history
.yarn-integrity
