---
name: Statux
url: https://statux.dev
title: Statux - The easy state management library for React
description: Built with React Hooks, immutable state and some great helpers it makes building your React App a lot easier. Install it and it gets out of the way to allow you to focus on your app.
menu:
  Author: https://francisco.io/
  Donate: https://www.paypal.me/franciscopresencia/19
  npm: https://www.npmjs.com/package/statux
  Github: https://github.com/franciscop/statux
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1" />

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://documentation.page/assets/style.css" />

    <title>{{layout.title}}</title>
    <meta name="description" content="{{layout.description}}" />
    <link rel="icon" type="image/png" href="/assets/favicon.png" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{layout.title}}" />
    <meta name="twitter:url" content="{{layout.url}}/" />
    <meta name="twitter:image" content="{{layout.url}}/assets/hero.png" />
    <meta name="twitter:description" content="{{layout.description}}" />

    <!-- Facebook & others -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{layout.title}}" />
    <meta property="og:url" content="{{layout.url}}/" />
    <meta property="og:image" content="{{layout.url}}/assets/hero.png" />
    <meta property="og:description" content="{{layout.description}}" />
  </head>
  <body id="top">
    <nav>
      <a href="/" class="brand">
        <img class="logo" src="/assets/favicon.png" alt="" />
        <span>{{layout.name}}</span>
      </a>

      <input id="bmenub" type="checkbox" class="show" />
      <label for="bmenub" class="burger">menu</label>

      <div class="menu">
        {% for item in layout.menu %}<a href="{{item[1]}}">{{item[0]}}</a>{%
        endfor %}
      </div>
    </nav>
    <main>
      <div class="flex">
        <div class="thirty">
          <aside class="auto">
            <div class="scroller">
              <section>
                <h2><a href="/">{{layout.name}}</a></h2>
              </section>
              <form class="search" autocomplete="off">
                <input name="search" placeholder="Search Documentation" />
                <div class="results"></div>
              </form>
            </div>
          </aside>
        </div>
        <div class="seventy">
          <article>{{content}}</article>
          <blockquote>
            Website built with
            <a href="https://documentation.page/">Documentation Page</a>
          </blockquote>
        </div>
      </div>
    </main>
    <script src="https://documentation.page/assets/script.js"></script>
  </body>
</html>
