---
title: Statux
url: https://statux.dev/
description: A straightforward React state management library with hooks and immutable state
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1">
    <title>{{page.title}}</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600|Source+Code+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://react-test.dev/style.min.css">

    <link rel="icon" type="image/png" href="{{page.url}}favicon.png" />
    <meta name="description" content="{{description}}" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="{{page.url}}" />
    <meta name="twitter:title" content="{{page.title}}" />
    <meta name="twitter:image" content="http://form-mate.dev/hero.png">
    <meta name="twitter:description" content="{{page.description}}" />

    <!-- Facebook & others -->
    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{page.url}}" />
    <meta property="og:image" content="{{page.url}}hero.png" />
    <meta property="og:description" content="{{page.description}}" />
  </head>
  <body>
    <div class="flex">
      <div>
        <div class="wrap">
          <aside>
            <h2><a href="#top">{{page.title}}</a></h2>
          </aside>
        </div>
      </div>
      <div id="top">
        <main>{{content}}</main>
      </div>
    </div>

    <script src="https://react-test.dev/index.min.js"></script>
  </body>
</html>
