---
name: Statux
title: Statux - A minimal state management library for React
url: https://statux.dev/
library: statux
description: Built with React Hooks, immutable state and some great helpers it makes building your React App a lot easier. Install it and it gets out of the way to allow you to focus on your app.
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1" />
    <title>{{page.title}}</title>

    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,600|Source+Code+Pro&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{layout.url}}/assets/style.css" />

    <link
      rel="icon"
      type="image/png"
      href="{{layout.url}}/assets/favicon.png"
    />
    <meta name="description" content="{{layout.description}}" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="{{layout.url}}/" />
    <meta name="twitter:title" content="{{layout.title}}" />
    <meta name="twitter:image" content="{{layout.url}}/assets/hero.png" />
    <meta name="twitter:description" content="{{layout.description}}" />

    <!-- Facebook & others -->
    <meta property="og:title" content="{{layout.title}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{layout.url}}/" />
    <meta property="og:image" content="{{layout.url}}/assets/hero.png" />
    <meta property="og:description" content="{{layout.description}}" />
  </head>
  <body id="top">
    <nav>
      <a href="/" class="brand">
        <img class="logo" src="/assets/favicon.png" alt="" />
        <span>{{layout.name}}</span>
      </a>

      <input id="bmenub" type="checkbox" class="show" />
      <label for="bmenub" class="burger">menu</label>

      <div class="menu">
        <a href="https://francisco.io/">Author</a>
        <a href="https://www.paypal.me/franciscopresencia/19">Donate</a>
        <a href="https://www.npmjs.com/package/{{layout.library}}">npm</a>
        <a href="https://github.com/franciscop/{{layout.library}}">Github</a>
      </div>
    </nav>
    <main>
      <div class="flex">
        <div class="thirty">
          <aside class="auto">
            <div class="scroller">
              <section>
                <h2><a href="#top">{{layout.name}}</a></h2>
              </section>
              <form class="search" autocomplete="off">
                <input name="search" placeholder="Search Documentation" />
                <div class="results"></div>
              </form>
            </div>
          </aside>
        </div>
        <div class="seventy"><article>{{content}}</article></div>
      </div>
    </main>
    <script
      src="https://unpkg.com/prismjs@1.20.0/prism.js"
      charset="utf-8"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/umbrellajs"
      charset="utf-8"
    ></script>
    <script type="text/javascript">
      if (u('aside').hasClass('auto')) {
        const menus = [];
        u('article h2, article h3').each(el => {
          const to = "#" + el.id;
          const title = u('<div />').text(u(el).text()).html();
          if (u(el).is('h2')) {
            menus.push({ to, title, sections: [] });
          } else {
            if (menus[menus.length - 1]) {
              menus[menus.length - 1].sections.push({ to, title });
            } else {
              console.warn(`Need a h2 above the h3 ${title}`);
            }
          }
        });

        const ButtonMore = `
          <button class="more">
            <img src="/assets/plus.svg">
          </button>
        `;

        const Submenu = ({ to, title }) => `
          <div>
            <a href="${to}">
              <img src="/assets/file.svg" />
              ${title}
            </a>
          </div>
        `;

        const Section = ({ to, title, sections }) => `
          <section>
            <h3>
              ${sections.length ? ButtonMore : ''}
              <a href="${to}">
                ${sections.length ? '' : '<img src="/assets/file.svg">'}
                ${title}
              </a>
            </h3>
            ${sections.length ? `
              <div class="submenu">
                ${sections.map(Submenu).join('')}
              </div>
            ` : ''}
          </section>
        `;

        u('.scroller').append(menus.map(Section).join(''));
      }
    </script>
    <script src="/assets/script.js"></script>
  </body>
</html>
